/* import weird serif font: Basteleur */
@font-face {
  font-family: "Basteleur";
  src: url("../fonts/Basteleur-Bold.woff"), url("../fonts/Basteleur-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}

/* import sans-serif font: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* import monospace font: Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');