@use "./variables" as *; /* load without namespace for convenience */
@use "./mixins" as *; /* load without namespace for convenience */
@use "./functions" as *; /* load without namespace for convenience */

.nav-header {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}

.nav-header__menu-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  width: 100%;

  nav {
    margin-left: auto;
  }

  li {
    display: inline-flex;

    a {
      font-size: 1.125rem;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: lowercase;

      &.active,
      &:hover {
        color: $color-primary-hover;
      }
    }

    span {
      transition: color 0.25s ease-in-out;
    }

    @media only screen and (min-width: em($bp-lg)) {
      margin: 0.6rem 3rem 0.6rem 0;
    }
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-container {
  margin-top: 2rem;
}

.nav-modal__walletconnect-button-container {
  border-bottom: 2px solid $color-background-primary;
  padding-bottom: 1.5rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > button {
    width: 13rem;
    margin: 0 auto 1rem;
    border-radius: 12px;
  }
}
